<!DOCTYPE html>
<html>
  
<head>
    <title>Page Title</title>


    
    
</head>
  
<body>
    <div style="display :inline-flex">
    
  
        <% data.forEach(element=> { %>
  
<form action="/update" method="post">
    <input type="number" style="display:none" name="id" value="<%= element.id %>">
    <textarea type="text" rows="6" cols="30" 
    placeholder="Type Here..." name="content"
>
<%= element.content %></textarea>
</br>
<button type="submit">
update
</button>

</form>
<form action="/delete" method="post">
    <input type="number" style="display: none;" 
           name="id" value="<%= element.id %>">
    <button type="submit">✕</button>
</form>
<% }) %>
</div>
<h1>Add Note</h1>
<button onclick="create()">create</button>
<div class="form1">
<form  id="form1" style="display: none" action="\" method="post">
    <input type="number" style="display: none;" 
           name="id">
    <textarea type="text" rows="6" cols="30" 
              placeholder="Type Here..." 
              name="content"></textarea>
    <br>
    <button type="submit">Add</button>
</form> 
</div>
<script>
    function create(){
        document.getElementById("form1").style.display="block";
    }
</script>
</body>
 
</html>